.navbar-container {
    position: absolute;
    margin-top: 10px;
    margin-right: 10px;
    top: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: transparent;
  }
  
  .navbar-container a {
    color: #fff;
    padding: 10px;
    margin: 0 5px;
    text-decoration: none;
  }
  
  .navbar-container a:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }

  .img-responsive{
    margin-top: 40px;
    margin-left: 150px;
    width: 500px;
    height: 500px;
    
  }
  .name{
    color: white;
    margin-left: -100px;
    margin-top: 200px;
    font-size: 50px;
  }

  .img{
    width: 250px;
    height: 260px;
    margin-top: 250px;
    margin-left: 620px;
    border-radius: 100%;
    background-color: #fff;
    
  }

  .udittext{
    font-size: 60px;
    margin-left: 475px;
    margin-top: 19px;
    color: #fff;
    font-family: montserrat;
    font-weight: 800;
    box-sizing: border-box;
  }

  .ptext{
    font-size: 60px;
    color: rgb(16, 226, 75);
    font-family: montserrat;
    font-weight: 800;
    box-sizing: border-box;
  }

  .overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,.4);
    z-index: 1;
  }

  .logo{
    width: 100px;
    height: 50px;
    margin-top: 60px;
    margin-right: 650px;
    color: #fff;
  }