<app-video-background></app-video-background>
<div class="navbar-container">
  <a href="#"><i class="pi pi-home"></i> Home</a>
  <a href="#"><i class="pi pi-briefcase"></i> Experience</a>
  <a href="#"><i class="pi pi-id-card"></i> Resume</a>
  <a href="#"><i class="pi pi-chart-bar"></i> Skills</a>
  <a href="#"><i class="pi pi-desktop"></i> Projects</a>
  <a href="#"><i class="pi pi-bookmark"></i> My Blog</a>
  <a href="#"><i class="pi pi-envelope"></i> Contact</a>
</div>

<section class="left-section">
  <img src="assets/uditpicre.png" alt="Alternative text" class="img-responsive" id="my-image">
</section>
<section class="right-section">
  <p class="name">Hi, I'm Udit Prabhakar</p>
</section>




