<app-video-background></app-video-background>
<div class="overlay">
<div class="navbar-container">
  <a href="#"><i class="pi pi-home"></i> Home</a>
  <a href="#"><i class="pi pi-briefcase"></i> Experience</a>
  <a href="#"><i class="pi pi-id-card"></i> Resume</a>
  <a href="#"><i class="pi pi-chart-bar"></i> Skills</a>
  <a href="#"><i class="pi pi-desktop"></i> Projects</a>
  <a href="#"><i class="pi pi-bookmark"></i> My Blog</a>
  <a href="#"><i class="pi pi-envelope"></i> Contact</a>
</div>

<img src="assets/uditpicre.png" class="img">
<p class="udittext">UDIT <span class="ptext" >PRABHAKAR</span></p>



</div>
